__pycache__
.pytest_cache
.idea
.ipynb_checkpoints
articles
articles_tests
logs
.coverage
SEOArticlesScraper.rar
articles.rar

temp
medium_scraper_credentials.csv
aws_deployment/package
aws_deployment/result.json
aws_deployment/cloudformation_template_final.yml
